language = "python3"
run = "python3 manage.py runserver 0.0.0.0:3000"

[env]
PORT = "3000"

[nix]
channel = "stable-23_11"
packages = ["python311"]

[deployment]
deploymentTarget = "static"
run = ["python3", "manage.py", "runserver", "0.0.0.0:3000"]
publicDir = "."

[unitTest]
language = "python3"

[[ports]]
localPort = 3000
externalPort = 3000

[agent]
expertMode = true
